<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdcVwyhJVKIJfhOma0Pn9jmoNIX94col2C1J4xuPCm_X2Fitw/formResponse?embedded=true" target="_self" method="POST">
  <div class="field">
    <label class="label">E-Mail-Adresse</label>
    <div class="control has-icons-left">
      <input class="input" type="email" placeholder="Ihre E-Mail-Adresse" name="emailAddress" required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Ihr Name" name="entry.1833416628" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Telefon- oder Handynummer</label>
    <div class="control has-icons-left">
      <input class="input" type="tel" placeholder="Ihre Telefonnummer" name="entry.1534967018">
      <span class="icon is-small is-left">
        <i class="fas fa-phone"></i>
      </span>
    </div>
  </div>


  <div class="field">
    <label class="label">Thema</label>
    <div class="control">
      <label class="radio">
        <input
          type="radio"
          name="entry.1227061809"
          value="Mitgliedschaft"
          checked
          required
          onchange="document.getElementsByName('entry.1227061809.other_option_response')[0].setAttribute('disabled', '')"
        >
        Mitgliedschaft
      </label>
      <br>
      <label class="radio">
        <input
          type="radio"
          name="entry.1227061809"
          value="Training"
          onchange="document.getElementsByName('entry.1227061809.other_option_response')[0].setAttribute('disabled', '')"
        >
        Training
      </label>
      <br>
      <label class="radio">
        <input
          type="radio"
          name="entry.1227061809"
          value="Probetraining"
          onchange="document.getElementsByName('entry.1227061809.other_option_response')[0].setAttribute('disabled', '')"
        >
        Probetraining
      </label>
      <br>
      <label class="radio">
        <input
          type="radio"
          name="entry.1227061809"
          value="__other_option__"
          onchange="document.getElementsByName('entry.1227061809.other_option_response')[0].removeAttribute('disabled')"
        >
        Sonstiges:
      </label>
    </div>
    <div class="control">
      <input class="input" type="text" name="entry.1227061809.other_option_response" disabled>
    </div>
  </div>

  <div class="field">
    <label class="label">Wie können wir dir helfen?</label>
    <div class="control">
      <textarea class="textarea" name="entry.2027917113" required></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link">Senden</button>
    </div>
  </div>

</form>
