<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">

  <!-- favicons from https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#686868">
  <link rel="shortcut icon" href="/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- TODO: Remove unused scripts and stylesheets, and add uncss to remove unused styles -->
  <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome-free-5-all-min.css">
  {% unless site.hide_share_buttons %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
  {% endunless %}
  {% seo %}
  {% if site.feed %}
  {% feed_meta %}
  {% endif %}
  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  {%- include head-scripts.html -%}
</head>
