{% if include.caption %}
  {% if include.alt %}
    {% assign caption = include.caption %}
    {% assign alt = include.alt %}
  {% else %}
    {% assign caption = include.caption %}
    {% assign alt = include.caption %}
  {% endif %}
{% else %}
  {% if include.alt %}
    {% assign caption = "" %}
    {% assign alt = include.alt %}
  {% else %}
    {% assign caption = "" %}
    {% assign alt = "" %}
  {% endif %}
{% endif %}

{% if include.thumb_width %}
  {% assign thumb_width = 'width="' | append: include.thumb_width | append: '"' %}
{% else %}
  {% assign thumb_width = "" %}
{% endif %}

{% if include.thumb_height %}
  {% assign thumb_height = 'height="' | append: include.thumb_height | append: '"' %}
{% else %}
  {% assign thumb_height = "" %}
{% endif %}

{% if include.type == "lightbox2" %}

{% if caption == "" %}
<a class="lightbox2 photo" href="{{ include.url }}" data-lightbox="{{ include.lightbox_gallery }}">
{% else %}
<a class="lightbox2 photo" href="{{ include.url }}" data-lightbox="{{ include.lightbox_gallery }}" title="{{ caption }}">
{% endif %}

{% else %}

{% if include.child_selector_class %}
  {% assign child_selector_class = include.child_selector_class %}
{% else %}
  {% assign child_selector_class = "photoswipe" %}
{% endif %}

<a class="{{ child_selector_class }} photo" href="{{ include.url }}" target="_blank" data-pswp-width="{{ include.full_width }}" data-pswp-height="{{ include.full_height }}">

{% endif %}

{% if alt == "" %}
<img class="image" src="{{ include.url }}" {{ thumb_width }} {{ thumb_height }}>
{% else %}
<img class="image" src="{{ include.url }}" {{ thumb_width }} {{ thumb_height }} alt="{{ alt }}">
{% endif %}

{% unless include.type == "lightbox2" %}
  {% unless caption == "" %}
  <div class="invisible caption">{{ caption }}</div>
  {% endunless %}
{% endunless %}

</a>
