{% assign player=site.data.players[include.player] %}
{% assign modalId=player.cardImage | slugify %}
<div class="modal" id="{{modalId}}" onclick="toggleModal('{{modalId}}')" markdown="0">
    <div class="modal-background"></div>
    <div class="modal-card player-modal">
      <section class="modal-card-body" style="background-color: red">
        <img src="{{ player.cardImage | absolute_url }}" alt="{{ include.alt }}">
      </section>
      <footer class="modal-card-foot">
        <span class="card-footer-item player-name">
          {{player.firstName}} {{player.lastName}}
        </span>
        <span class="card-footer-item" style="flex-grow: 0">
          #{{player.number}}
        </span>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
