{% assign player=site.data.people[include.playerId] %}
{% assign modalId=player.playerInfo.cardImage | append: '-' | append: include.number | slugify %}
<div class="card player-card player-profile-card is-size-6-mobile is-size-5" id="{{modalId}}" markdown="0">
    <a onclick="toggleModal('{{modalId}}')" id="{{modalId}}">
      <img src="{{ player.playerInfo.cardImage | absolute_url }}" alt="{{ include.alt }}">
    </a>
    <footer class="card-footer">
      <span class="card-footer-item player-name">
        {{player.firstName}}
      </span>
      <span class="card-footer-item is-size-7-mobile is-size-5" style="flex-grow: 0">
        {% if include.number != null %}
        {{include.number}}
        {% else %}
        #{{player.playerInfo.number}}
        {% endif %}
      </span>
    </footer>
</div>
{% include player-profile-modal.html playerId=include.playerId number=include.number %}
