{% assign player=site.data.people[include.playerId] %}
{% assign modalId=player.playerInfo.cardImage | slugify %}
<div class="card player-card player-profile-card" id="{{modalId}}" markdown="0">
    <a onclick="toggleModal('{{modalId}}')" id="{{modalId}}">
      <img src="{{ player.playerInfo.cardImage | absolute_url }}" alt="{{ include.alt }}">
    </a>
    <footer class="card-footer">
      <span class="card-footer-item player-name">
        {{player.firstName}}
      </span>
      <span class="card-footer-item" style="flex-grow: 0">
        #{{player.playerInfo.number}}
      </span>
    </footer>
</div>
{% include player-profile-modal.html playerId=include.playerId %}
