{% assign player=site.data.people[include.playerId] %}
{% assign modalId=player.playerInfo.cardImage | append: '-' | append: include.number | slugify %}
<div class="modal" id="{{modalId}}" onclick="toggleModal('{{modalId}}')" markdown="0">
  <div class="modal-background"></div>
  <div class="modal-card player-card player-modal">
    <section class="modal-card-body">
      <img src="{{ player.playerInfo.cardImage | absolute_url }}" alt="{{ include.alt }}">
      <div class="player-number">
        {% if include.number != null %}
        {{include.number}}
        {% else %}
        #{{player.playerInfo.number}}
        {% endif %}
      </div>
    </section>
    <footer class="modal-card-foot">
      <span class="card-footer-item player-name">
        {{player.firstName}} {{player.lastName}}
      </span>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
