{% assign player=site.data.players[include.player] %}
{% assign modalId=player.cardImage | slugify %}
<div class="card" markdown="0">
    <a onclick="toggleModal('{{modalId}}')" id="{{modalId}}" title="View large image">
      <figure class="image {{ include.ratio | default: is-16by9 }}">
          <img src="{{ player.cardImage | absolute_url }}" alt="{{ include.alt }}">
      </figure>
    </a>
    {% include player-profile-modal.html player=include.player %}
    <div class="card-content">
        <div class="content">
            {{player.firstName}} {{player.lastName}}, {{player.number}}
        </div>
    </div>
</div>
