<div class="card">
    <a href="{{ site.baseurl }}{{ post.url }}" >
    {% if post.image %}
    <div class="card-image">
        <img style="height: 170px" src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <span class="card-header-title">{{ post.title}}</span>
    </header>
    {% endif %}
    <div class="card-content" style="padding: 1rem">
        <div class="content">
            <span class="small-card-date">{{ post.date | date: "%-d. %B %Y" }}</span>
            {% if post.image %}
            <span class="title is-4">{{ post.title}}</span>
            {% endif %}
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% else %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
    </div>
    </a>
</div>
