<div class="card grow">
  <a href="{{ site.baseurl }}{{ post.url }}" >
    {% if post.image %}
    <div class="card-image">
        <img style="height: 300px" src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <span class="card-header-title">{{ post.title}}</span>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <span class="title is-4">{{ post.title}}</span>
            {% endif %}
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% else %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">{% include local-date.html date=post.date %}</p>
    </footer>
  </a>
</div>
