---
---
$primary: {{site.theme_color}};
@import "main";

.footer {
  padding: 2rem 1.5rem
}

.players {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.post-date {
  margin-bottom: 0.5rem;
  margin-top: -1rem;

  @include desktop {
    margin-bottom: 1rem;
    margin-top: -2rem;
  }
  height: 1rem;
  display: flex;
  justify-content: end;
  font-size: 0.875em;

}

.post-author {
  font-size: 0.875em;
}

.small-card-date {
  margin-top: -1rem;
  display: flex;
  justify-content: end;
  font-size: 0.875em;
  color: $title-color;
}

.player, .coach {
  margin-bottom: 0.2rem;
}

.card {
  &.grow {
    height: 100%;
  }

  display: flex;
  flex-direction: column;
  overflow: hidden;

  >a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $title-color;
  }

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid #dedede
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .content {
      flex-grow: 1;
    }
  }
}

// This is important, so that the images in news-preview-cards
// always fill the while card
.card-image img {
  width: 100%;
  object-fit: cover;
}

.image-modal img {
  object-fit: contain;
}

$player-card-gradient: linear-gradient(99deg, rgba(178,187,207,1) 0%, rgba(235,238,238,1) 50%, rgba(178,187,207,1) 100%);
.player-card {
  --card-background: #111171;
  border-radius: 0.5rem;
  background: $player-card-gradient;
  color: $white;

  footer {
    border: none;
    background-color: var(--card-background);
    color: $white;

    .card-footer-item {
      border: none;
    }
  }

  .player-name {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: center;
  }

  img {
    aspect-ratio: 0.8;
    object-fit: cover;
    object-position: top;
  }
}

.player-modal {
  width: auto;
  font-size: 1.5rem;
  border-radius: 1rem;

  $modal-card-spacing: 0;
  .modal-card-body {
    padding: 0;
    margin: 0;
    display: flex;
    background: $player-card-gradient;
    img {
      width: 100%;
      max-height: calc(100vh - 120px);
    }
  }
  .player-number {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    top: 0px;
    left: 0px;
    position: absolute;
    border-bottom-right-radius: 1rem;
    background-color: var(--card-background);
    font-weight: bold;
  }
  footer {
    padding: 0.25rem;
  }
}

.player-profile-card {
  cursor: pointer;
  transition: transform 100ms, box-shadow 100ms;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  &:hover, &.is-active {
    transform: scale(1.05);
    box-shadow: 0 0.5em 1.5em 0 rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }

  .card-footer-item {
    padding: 0.5rem 0.75rem;
    @include mobile {
      padding: 0.5rem 0.5rem;
    }
  }
}

.centered-on-desktop {
  @include desktop-only {
    justify-content: center;
  }
}

section.section {
  padding: 1.5rem;
  @include desktop {
    padding: 3rem;
  }
}

