---
---
$primary: #1c4586;
// Import Main CSS file from theme
@import "main";

.footer {
  padding: 3rem 1.5rem 2rem
}

.players {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.post-date {
  margin-bottom: 1rem;
  margin-top: -2rem;
  height: 1rem;
  display: flex;
  justify-content: end;
  font-size: 0.875em;
}

.post-author {
  font-size: 0.875em;
}

.small-card-date {
  margin-top: -1rem;
  display: flex;
  justify-content: end;
  font-size: 0.875em;
  color: $title-color;
}

.player, .coach {
  margin-bottom: 0.2rem;
}

.card {
  &.grow {
    height: 100%;
  }

  display: flex;
  flex-direction: column;
  overflow: hidden;

  >a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $title-color;
  }

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid #dedede
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .content {
      flex-grow: 1;
    }
  }
}

// This is important, so that the images in news-preview-cards
// always fill the while card
.card-image img {
  width: 100%;
  object-fit: cover;
}

.image-modal img {
  object-fit: contain;
}
